.imagen-personaje{
    height: 20rem;
    width: 14rem;
}

.molde-personaje{
    width: auto;
}

.icono-stado{
    font-size: 3rem;
}

.molde-citas{
    width: 100%;
}

.img-banner{
    height: 6rem;
    width: 80%;
}